*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F9FA;
}

.title {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.entry-field {
    align-self: center;
    width: 500px;
    height: 100px;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    background: #E9ECEF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    user-select: none;
    transition: bottom 0.4s;
    height: 300px;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
    width: 940px;
}

.keyboard__key {
    height: 50px;
    width: 6%;
    margin: 3px;
    border-radius: 4px;
    border: 1px solid #6C757D;
    background: #DEE2E6;
    color: black;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
}

.arrow-container {
    width: 6%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.keyboard__key:active {
    opacity: 0.5;
}

.keyboard__key--opacity {
    opacity: 0.5;
}

.keyboard__key--wide {
    width: 90px;
}

.keyboard__key--extra-wide {
    width: 420px;
    max-width: 225px;
}

.keyboard__key--small {
    height: 22px;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #76f397;
}

.desctiption {
    align-self: flex-start;
    width: 230px;
    font-size: 13px;
    color: #6C757D;
}

.icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon--arrow-down {
    background-image: url("../img/icons/arrow-down.svg");
}

.icon--arrow-left {
    background-image: url("../img/icons/arrow-left.svg");
}

.icon--arrow-right {
    background-image: url("../img/icons/arrow-right.svg");
}

.icon--arrow-up {
    background-image: url("../img/icons/arrow-up.svg");
}

.icon--backspace {
    background-image: url("../img/icons/backspace.svg");
}

.icon--capslk {
    background-image: url("../img/icons/capslk.svg");
}

.icon--done {
    background-image: url("../img/icons/done.svg");
}

.icon--enter {
    background-image: url("../img/icons/enter.svg");
}

.icon--space {
    background-image: url("../img/icons/space.svg");
}

.icon--tab {
    background-image: url("../img/icons/tab.svg");
}
